<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD1UHB-JloOUYRPHo-AvnarNYoBvYY9-Ns</string>
	<key>GCM_SENDER_ID</key>
	<string>471161854731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jos59.pipingdatalt</string>
	<key>PROJECT_ID</key>
	<string>pipingdatalt-f3e8b</string>
	<key>STORAGE_BUCKET</key>
	<string>pipingdatalt-f3e8b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:471161854731:ios:1d94044b9b5237e0ba200e</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-4768526828490678~9870925007</string>
</dict>
</plist>